.forgot-card {
    height: 65vh;
}

.reset-card .left-side {
    background: url('https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center;
    background-size: cover;
}

.back-to-login {
    text-align: center;
    margin-top: 20px;
}

.back-to-login a {
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}